{% extends "base.html" %}
{% block content %}
{% if poll_list %}
    <ul>
    {% for poll in poll_list %}
      {% if poll.question.lower|slice:":1" == 'a' %}
        <li><a href="/polls/{{ poll.id }}/">{{ poll.question }}</a></li>
          <ul>
            {% for choice in poll.choice_set.all %}
                <li>{{ choice.choice_text }} - {{ choice.votes }}</li>
            {% endfor %}
          </ul>
      {% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% endblock %}
